html {
  scroll-behavior: smooth;
}

.bimage {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 30px -5px;
}

.row1 {
  margin: 30px -5px;
}
.row1:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 50%;
  padding: 0 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

#section1 {
  display: inline;
  width: 100%;
}

.row2 {
  /* margin: 30px 20%; */
  width: 100%;
}
.row2:after {
  content: "";
  display: table;
  clear: both;
}

.column2 {
  float: left;
  width: 33%;
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .column1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .row2 {
    width: 100%;
    margin: 30px -5px;
  }
}
